@model IEnumerable<webTiendaOnlineMVC.Models.Venta>

@{
    ViewData["Title"] = "ListarVentas";
}

<h1>Ventas</h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VentaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetPagoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VentaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MetPagoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
            </tr>
        }
    </tbody>
</table>
